.list {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  /* background-color: darkgoldenrod; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.list__item {
  width: 84%;
  margin: 0 auto;
  height: 12%;
  border-radius: 5px;
  line-height: 32px;
  padding-left: 15px;
  border: 2px solid transparent;
  transition: border 100ms ease-in-out;
  cursor: pointer;
}

.list__item:active {
  background-color: tomato;
}

.list__item:hover {
  border: 2px solid lightgrey;
}
